{% extends "base.html" %}
{% load blog_tags %}

{% block content %}
    <div class="container">
<p><span> <span class="smallcaps"><strong>Education</strong></span></span></p>
<p>
<span><strong>Ph.D. in Computer Engineering</strong></span>, <em>Stevens Institute of Technology, Hoboken, NJ</em><br />
<span><strong>M.Sc. in Network Systems</strong></span>, <em>University of New Haven, West Haven, CT</em><br />
<span><strong>B.Ed. in Computer Science Education</strong> </span>, <em>Al Jouf University, Sakaka, Saudi Arabia</em></p>
<p><span> <span class="smallcaps"><strong>Work Experience</strong></span></span></p>
<p>
<span> <strong>Adjunct Associate Faculty - Part-Time</strong> – Columbia University, Manhattan, NY Sep 2020 – Present<br />
</span></p>
<p>Instructor of "Intro to Blockchain, Cryptocurrencies &amp; Analytics"</p>
<p><span> <strong>Founder- Software Engineer</strong> – Lambdatag, Brooklyn, NY May 2020 – Present<br />
</span></p>
<p>Translate customer requirements into technical specifications for efficient Database Design (NOSQL and SQL)</p>
<p>Launch web applications featuring integration with wallets and smart contracts, utilizing Django task queues</p>
<p><span> <strong>Blockchain Engineer - Part-Time</strong> – New Land Capital, Queen, NY Jun 2019 – Dec 2019<br />
</span></p>
<p>Architected smart contracts based on business plans and networked private Ethereum nodes in AWS</p>
<p><span> <strong>Teaching Assistant, Dept. of Electrical and Computer Engineering</strong> – Stevens Institute of Technology, Hoboken, NJ Feb 2018 – May 2019<br />
</span></p>
<p>Prepared lesson plans about the principles and processes of network analysis and presented materials to students of “CPE/NIS 654 Analysis and Design of Multimedia Communication Networks”</p>
<p>Delivered thorough presentations to students about Blockchain design</p>
<p><span> <strong>Researcher &amp; Registration Coordinator</strong> – Al Jouf University, Sakaka, Saudi Arabia Jan 2008 – May 2010<br />
</span></p>
<p>Planned &amp; established the Academic Integrity policy and procedures for a newly formed university</p>
<p>Organized &amp; maintained academic and administrative information including reports &amp; confidential data</p>
<p>Collaborated with the Data Systems Administrator to identify system issues and assisted during staff training sessions</p>
<p><span> <span class="smallcaps"><strong>Research Experience</strong></span></span></p>
<p>
<span> <strong>Blockchain Researcher</strong> – Stevens Institute of Technology, Hoboken, NJ Jan 2017 – May 2020<br />
</span></p>
<p>Devised and implemented a model for fundraising network projects</p>
<p>Presented quality of service in smart contracts for hybrid-trusted party contracts</p>
<p>Created and implemented pre-validation for more secure and efficient blockchain transactions</p>
<p>Authored a review paper regarding cryptocurrency involving Bitcoin, Ethereum, IOTA, EOS, Hyperledger Fabric, Blockstack, Paxos, &amp; Raft</p>
<p><span> <strong>Machine Learning Research Assistant</strong> – Stevens Institute of Technology, Hoboken, NJ Feb 2016 – Dec 2016<br />
</span></p>
<p>Worked in a 7-member team to analyze data for indoor localization based on Intel wireless WIFI Adapter</p>
<p>Developed a script to allow smartphones to connect to CSI tool in Linux systems</p>
<p>Compared different human activities over a smartphone’s frequency of wifi signal</p>
<p>Reviewed, assessed, and provided commentary on IEEE conference papers</p>
<p><span> <span class="smallcaps"><strong>Projects</strong></span></span></p>
<p>
</p>
<p>Developed a live security application for face recognition, applying k-NN, Logistic Regression, SVMs, Eigenfaces, and LBPs algorithms</p>
<p>Configured System Administrator Services: DHCP, DNS, LDAP, NFS, NTP, WEB, FTP, Mail, SSH &amp; SAMBA</p>
<p>Devised a backup tool to protect against cyberattacks using EC2, ECB on AWS</p>
<p>Developed logical entities and defined database attributes as well as the relationships between objects</p>
<p>Automated software based on Kubernetes</p>
<p><span> <span class="smallcaps"><strong>Technical Qualifications</strong></span></span></p>
<p>
</p>
<p><strong>Networking:</strong> Network Protocols (TCP/UDP), WiFi Standards, Distributed Systems, Cryptography, Security</p>
<p><strong>System Administration:</strong> MacOS, CentOS, Ubuntu, Microsoft Windows Active Directory</p>
<p><strong>Platforms</strong>: Blockchains, Node.js, AWS, Google Cloud, Kubernetes, Firebase, Docker, Git</p>
<p><strong>Programming languages</strong>: Python, Shell Script, Golang, Matlab, <span>LaTeX</span></p>
<p><strong>Data Management:</strong> RDBMS (MySQL, Postgresql, SQLite) NoSQL (Key–Value store &amp; cache)</p>
<p><strong>Web Development:</strong> Solidity, Vypay, Webpack, Django, Flask, Javascript, React, React Native</p>
<p><strong>Data Manipulation and Analysis:</strong> NumPy, Pandas, Scikit-learn, OpenCV</p>
<p><strong>Certification:</strong> IEEE Advanced Blockchain for Enterprise, IBM Blockchain Developer, Teaching at the College Level, IBM Python for Data Science, Data Science Math Skills</p>

    </div>
{% endblock content %}