.page-footer {
  background-color: #f3f3f2;
  padding-top: 50px;
  padding-bottom: 10px;
}

.page-footer h4 {
  color: #333333;
  font-size: 11px;
  font-weight: bold;
}

.page-footer p {
  color: #888;
  font-size: 11px;
}

.page-footer .footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
  word-break: break-all;
}

.page-footer .footer-links a {
  color: #555;
  font-size: 11px;
}

.page-footer .footer-links li {
  margin-bottom: 5px;
  line-height: 1.3;
}

.page-footer .footer-legal .copyright {
  margin-right: 60px;
}

.page-footer .footer-legal .legal-links .item {
  padding-right: 13px;
  border-right: 1px solid #ccc;
  margin: 0;
  margin-right: 13px;
}

.page-footer .footer-legal .legal-links .item:last-child {
  border-right: none;
}

.page-footer .footer-legal .legal-links .item h5 {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer .region {
  margin-bottom: 20px;
}

.page-footer .region a {
  color: #555;
  font-size: 11px;
}

.page-footer .region img {
  margin-right: 7px;
}

@media (min-width: 768px) {
  .page-footer .region {
    margin-bottom: 0;
  }
}

.portfolio-block.block-intro {
  text-align: center;
}

@media (min-width:768px) {
  .portfolio-block {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.portfolio-block {
  padding-bottom: 40px;
  padding-top: 40px;
}

.portfolio-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}

.row.blog {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.avatar {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: auto;*/
  border-radius: 100px;
  /*margin-bottom: 30px;*/
}

.btn-primary:hover {
  color: #fff;
  background-color: #4c280f;
  border-color: #4c280f;
}

